html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    min-width: 800px;
    /* max-width: 1200px; */
    padding: 0;
}
.header {
    background-color: rgb(236, 47, 47);
    color: white;
    /* height: 50px; */
    text-align: left;
    line-height: 50px;
}

.title {
    display: inline;
    margin-left: 50px;
    background-image: url("https://www.yogiyo.co.kr/mobile/image/logo-yogiyo.png?v=9d99911390a420d8ac896436e591cc60c3b66fc6");
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: transparent;
    text-indent: -9999em;
    overflow: hidden;
    
}

#login, #userin {
    border: 1px solid white;
    text-align: right;
    font-size: 7px;
    /* right: 515rem;*/
} 

a {
    color: white;
    text-decoration: none;
}

#table_login {
    float: right;
    line-height: 20px;
    margin: 13px 0px;
    margin-right: 50px;
}

#cookimg:after {
    content: '';
    z-index:-1;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(1.3px);
    background-image: url("../../image/chiken.png");
    align-self: center;
    background-position: center;
    height: 180px;
    border-top: 1px solid red;
    background-size: 100%;
    display: inline-block;
    
}

#searchtotal{
    text-align: center;
    margin-top: 40px;
}

.textlogo {
    color: white;
    text-align: center;
    margin: 0.5%;
}

.logospan {
    color: gold;
}

.btn {
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    width: 1.8rem;
    height: 1.8rem;
    border: 0;
    outline: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-image: url("../../image/gps.png");
    text-align: center;
    border-radius: 15%;
}
#search{
    width: 13rem;
    height: 1.8rem;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    margin-right: -6px;
    border: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#searchbtn{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    height: 1.8rem;
    width: 3rem;
    font-size: 9px;
    color: white;
    border: 0;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: orange 
}
.row{
    width: 90%;
    height: 90%;
    margin: 1PX auto;

}
.row:before, .row:after{
    content: "";
    display: table;
    margin-top: 50px;
}
.row:after{
    clear: both;
}
.col{
    box-sizing: border-box;
    background-position: bottom right;
    background-repeat: no-repeat;
    max-width: 70%;
    min-width: 30%;
    min-width: 11rem;
    height: 8rem;
    background-size: 9rem;
    border:1px solid gray;
    /* padding: 5px 5px 5px; */
    margin: 5px 5px 5px;
    float: left;
}
.menutext{
    margin: 5px 3px 1px;
}
.menutext2{
    margin: 1px 3px 1px;
    color: gray;
}
.menubar{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    }
    
    .menubar ul{
    background: rgb(109,109,109);
    height:50px;
    list-style:none;
    margin:0;
    padding:0;
    }
    
    .menubar li{
    float:left;
    padding:0px;
    }
    
    .menubar li a{
    background: rgb(109,109,109);
    color:#cccccc;
    display:block;
    font-weight:normal;
    line-height:50px;
    margin:0px;
    width: 130px;
    /* padding:0px 25px; */
    text-align:center;
    text-decoration:none;
    }
    
    .menubar li a:hover, .menubar ul li:hover a{
    background: rgb(71,71,71);
    color:#FFFFFF;
    text-decoration:none;
    }
    
    .menubar li ul{
    background: rgb(109,109,109);
    display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height:auto;
    padding: 0;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    /* width:400px; */
    z-index:200;
    /*top:1em;
    /*left:0;*/
    }
    
    .menubar li:hover ul{
    display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
    }
    
    .menubar li li {
    background: rgb(109,109,109);
    display:block;
    float:none;
    margin:0px;
    padding:0px 0 0 0;
    width:130px;
    
    }
    
    .menubar li:hover li a{
    background:none;
    }
    
    .menubar li ul a{
    display:block;
    height:50px;
    font-size:12px;
    font-style:normal;
    margin:0px;
    padding:0;
    text-align:center;
    }
    
    .menubar li ul a:hover, .menubar li ul li:hover a{
    background: rgb(71,71,71);
    border:0px;
    color:#ffffff;
    text-decoration:none;
    }
    
    .menubar p{
    clear:left;
    }
footer{
    
    font-size: 10px;
    
}
.footermenu{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid gray;    
}

.footermenu li{
    float: left;
    list-style: none;
    padding: 15px 0 13px 0;
    box-sizing: border-box;
}
.footermenu li ul{
    background: rgb(109,109,109);
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
}
.footermenu li:hover ul{
    display: block;
}
.footermenu li:after{
    content: " | ";
    display: block;
    padding: 0 10px  0 10px;
    float: right;
    list-style: none;
    box-sizing: border-box;
}
li{
    padding: 0;
    display: list-item;
    /* text-align: -webkit-math-parent; */
}
.lastfooter{
    margin-top: 50px;
    border-top: 1px solid gray;
}

.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    
}
.loginspace{
    width: 80%;
    /* padding-right: 0px */
}

.login{
    margin: 20px 10px 10px 10px;
    width: 90%;
    display: block;
}
#loginlogo{
    text-align: center;
    margin: 0;
}
.logintitle {
    display: inline;
    background-image: url("https://www.yogiyo.co.kr/mobile/image/logo-yogiyo.png?v=9d99911390a420d8ac896436e591cc60c3b66fc6");
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: transparent;
    text-indent: -9999em;
    overflow: hidden;
    font-size: 30px
    
}

.checkboxlogin{
    /* display: none; */
    float: left;
    width: 1rem;
    height: 1rem;
}

.loginuse{
    float: left;
    display: block;
}

.loginbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: 80%;
}
.loginbtn{
    margin: 20px 10px 10px 10px;
    width: 90%;
    height: 30px;
    display: block;
    color: white;
    background-color: rgb(236, 47, 47);
    border: 0;
    padding: 0;
}

.userinbtn{
    margin: 20px 10px 10px 10px;
    width: 90%;
    height: 30px;
    display: block;
    color: black;
    border: 0.5px solid gray;
    background-color: white;
    padding: 0;
}

.loginmenu{
    padding: 0;
    margin: -10px 30px 0 0;
    
}

.loginmenu li{
    float: right;
    list-style: none;
    /* padding: 0px 0 13px 0; */
    
    box-sizing: border-box;
}
.loginmenu li::after{
    content: "|";
    display: block; 
    
    padding: 0 10px  0 10px;
    float: right;
    list-style: none;
    box-sizing: border-box;
}
li{
    padding: 0;
    display: list-item;
    /* text-align: -webkit-math-parent; */
}

.userinpage{
    background-color: rgb(241, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 100%; */
    
}
.userinspace{
    width: 80%;
    font-size: 10px
}
.userindata{
    display: block;
    width: 100%;
    height: 35px;
}

.userinpass{
    display: block;
    float: left;
    margin-top: 1px;
    width: 100%;
    height: 35px;
}

.checkboxa{
    background-color: white;
 }

.checkbox{
   border-bottom: 1px solid gray;
   margin: 10px;
}
