
        html,body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            
        }
        .layout{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .gradientback{
            background: #C6FFDD;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .greenback{
            background-color: rgb(34, 177, 129);
            width: 100%;
            height: 45px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            color: white;  
            margin: 0, 50px, 0 50px;
        }
        .title{
            margin: 0;
            margin-top: 10px;
            display: inline-block;
            /* vertical-align: middle; */
            padding: 0;
        }
        .button{
            position: absolute;
            left: 10px;
            top: 11px;
            height: 25px;
            border: none;
            background-position: center;
            background-size: 15px;
            background-color: rgb(34, 177, 129);
            background-repeat: no-repeat;
            background-image: url("../image/backbtn.png");
            color: white;

        }
        .button2{
            position: absolute;
            right:10px;
            top: 12px;
            height: 25px;
            border: none;
            background-position: center;
            background-size: 15px;
            background-color: rgb(34, 177, 129);
            color: white;
        }

        main{
            width: 100%;

            margin: 0;
            margin-top: 10px
        }
        asd{
            
            margin-top: 501px;
        }
        .greeninput{
            background-color: rgba(34, 177, 129, 0.6);
            width: 95%;
            height: 35px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            color: white;  
            margin: 0, 50px, 0 50px;
        }
        .inputtitle{
            
            margin: 0;
            margin-top: 10px;
            display: inline-block;
            /* vertical-align: middle; */
            padding: 0;
        }
        #inputbutton{
            position: absolute;
            width: 30px;
            left: 20px;
            margin-top: 5px;
            height: 25px;
            border: none;
            background-position: center;
            background-size: 20px;
            background-color:  rgba(34, 177, 129, 0);
            background-repeat: no-repeat;
            background-image: url("../image/inputbtn.png");
            color: white;

        }
        .inputbutton2{
            position: absolute;
            width: 30px;
            height: 25px;
            margin-top: 5px;
            right: 20px;
            border: none;
            background-position: center;
            background-position: center;
            background-size: 20px;
            background-color: rgba(34, 177, 129, 0);
            background-repeat: no-repeat;
            background-image: url("../image/starbtn.png");
            color: white;
        }

        .Editbutton{
            position: absolute;
                width: 30px;
                right: 10px;
                margin-top: 10px;
                height: 25px;
                border: none;
                background-position: center;
                background-size: 20px;
                background-color:  rgba(34, 177, 129, 0);
                background-repeat: no-repeat;
                background-image: url("../image/inputbtn.png");
                color: white;
         }
         .inputtag{
             border-top-left-radius: 5%;
             border-top-right-radius: 5%;
             border-bottom-left-radius: 5%;
             border-bottom-right-radius: 5%;
             border: none;
         }
         
         .inputtag::placeholder{
             color: rgb(168, 167, 167);
             font-size: 10px;
         }
    
         .inputcontenttag{
            height: 300px;
            border: none;
         }
         
         li {
            cursor: pointer;
            position: relative;
            padding: 6px 8px 6px 40px;
            list-style-type: none;
            background: #eee;
            font-size: 18px;
            transition: 0.2s;
            
            /* make the list items unselectable */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          
          /* Set all odd list items to a different color (zebra-stripes) */
          ul li:nth-child(odd) {
            background: white;
            margin: 1px 0 1px 0;
          }
          
          /* Darker background-color on hover */
          ul li:hover {
            background: #ddd;
          }
          
          /* When clicked on, add a background color and strike out text */
          ul li.checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
          }
          
          /* Add a "checked" mark when clicked on */
          ul li.checked::before {
            content: '';
            position: absolute;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            top: 6px;
            left: 16px;
            transform: rotate(45deg);
            height: 15px;
            width: 7px;
          }

          .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 6px 16px 6px 16px;
          }

          #ThisUL{
              color: black;
          }

          /* #inputbutton.checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
          } */
          